/*=============
Variables
=============*/

:root {
  /* PRIMARY COLORS */
  --clr-primary-5: rgb(244, 74, 227);
  /* NEUTRAL COLORS */
  --clr-white: #fff;
  --clr-grey-1: #222;
  --clr-grey-8: #afafaf;
  --clr-grey-10: #f7f7f7;
  /* FONTS */
  --ff-primary: 'Fira Code', monospace;
  /* OTHERS */
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
}

/*=============
Global Styles
=============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  background-color: var(--clr-white);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-bottom: 0;
}

p {
  font-weight: 300;
  font-size: 0.7em;
  line-height: 2;
}

.btn {
  display: inline-block;
  color: var(--clr-primary-5);
  border: 5px solid var(--clr-primary-5);
  padding: 0.75rem 1rem;
  margin: 3rem 5rem;
  transition: var(--transition);
}

.btn:hover {
  color: var(--clr-white);
  background-color: var(--clr-primary-5);
}

/*=============
Navbar
=============*/

.header {
  background-color: var(--clr-grey-8);
}

.navbar {
  max-width: 1170px;
  margin: 0 auto;
}

.navbar__list {
  list-style-type: none;
}

.navbar__link {
  display: block;
  color: var(--clr-primary-5);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  padding: 1rem 2rem;
  transition: var(--transition);
}

.navbar__link:hover {
  color: var(--clr-grey-1);
}

@media screen and (min-width: 992px) {
  .navbar__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
  }

  .navbar__link {
    padding: 1rem 0;
    text-align: center;
  }
}

/*=============
Hero
=============*/

.hero {
  min-height: 100vh;
  background-color: var(--clr-primary-5);
  display: grid;
  justify-items: center;
  align-items: center;
}

.hero__info {
  padding: 0 3rem;
}

.hero__title {
  color: var(--clr-white);
}

.hero__text {
  color: var(--clr-white);
  font-size: 1rem;
  width: 80%;
}

@media screen and (max-width: 600px) {
  .hero__info {
    max-width: 40rem;
  }
}

@media screen and (min-width: 576px) {
  .hero__info {
    padding: 0;
    width: 83.65vw;
    margin: 0 auto;
  }

  .hero__text {
    max-width: 40rem;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(to bottom, rgba(244, 74, 227, 0.7), rgba(0, 0, 0, 0.7)), url(../images/image-2.jpeg) center/cover no-repeat;
  }

  .hero__info {
    max-width: 40.25rem;
  }

  .hero__title {
    font-size: 4rem;
  }
}

/*=============
Cards
=============*/

.cards__title {
  text-align: center;
}

.cards--container {
  display: grid;
  justify-content: center;
}

/* card */
.card {
  min-width: 350px;
  width: 90vw;
  border: 2px solid var(--clr-grey-8);
}

/* card info */
.card__info {
  padding: 1rem;
}

/* card footer */
.card__footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items:center;
  background-color: var(--clr-grey-8);
  padding: 0.5rem 1rem;
}

.card__social-icon {
  color: var(--clr-primary-5);
}

/*=============
Tiles
=============*/

/*=============
Layout
=============*/